* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
img {
    display: block;
    width: 100%;
}

/* css header */
.main-header-title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
}
.main-nav {
    display: none;
}
.main-header .container {
    padding: 10px 30px;
}
.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
}

.main-header-btn {
    display: block;
    padding: 10px 25px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;

}

.main-header-imput {
    display: block;
    padding: 10px 25px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
}
/* fin css header */

/* css slider */
.container-slider {
    margin: 50px 0 auto;
    position: relative;
    overflow: hidden;

}
.slider {
    display:flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
}
.slider-section {
    width: 100%;
}
.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%; 
    cursor: pointer;
}
.slider-btn-left {
    left: 10px;
}
.slider-btn-right {
    right: 10px;
}
/* fin css slider */

ul {
    margin:0; 
    padding:0;  
    /* text-align: center; */
    list-style:none;                
}
ul  li {
    padding: 2px 5px;               
}

ul li:before {
    content:url(#);;
}

.colorVerde {
    text-align: center;
    color: green;
    font-size: 24px;
} 